<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="__HOME__/img/favicon.ico">
    <link rel="stylesheet" href="__HOME__/common/common.css">
    <link rel="stylesheet" href="__HOME__/word/css/word.css">
</head>

<body>
    {include file="common/header"} 这是word {include file="common/foot"}
</body>

</html>